<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transfer money</title>
</head>
<body>
    <p>Your balance is:</p>
    <div th:text="${userBalance}"></div>

    <form th:method="post">
        <label for="userEmail">Email of the user to transfer money</label>
        <input type="text" id="userEmail" name="userEmail"/>

        <label for="amount">Amount</label>
        <input type="text" id="amount" name="amount"/>

        <input type="submit" value="Transfer">
    </form>
</body>
</html>